.App {
  text-align: center;
  width: 350px;
  height: 600px;
  background: black;
  color: white;
  font-weight: bold;
  margin: 20px auto;
}

.Buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
